@charset 'UTF-8';

// 1. Configuration and helpers
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins';

// 2. Vendors
@import
  'vendor/normalize';

// 3. Base stuff
@import
  'base/base',
  'base/fonts',
  'base/typography',
  'base/helpers';

// 4. Layout-related sections
@import
  'layout/header',
  'layout/footer';

// 5. Components
@import
  'components/button';

// 6. Page-specific styles
@import
  'pages/home';

// 7. Themes
// @import
//   'themes/default';


 /* media query with sass */
//  $tablet-width: 768px;
//  $desktop-width: 1024px;

//  @mixin tablet {
//    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
//      @content;
//    }
//  }

//  @mixin desktop {
//    @media (min-width: #{$desktop-width}) {
//      @content;
//    }
//  }

// media queries test

   img {
  //  font-size: 16px;

      @include mobile {
        width: 10%;
      }
      @include tablet {
        width: 50%;
      }

      @include desktop {
        width:100%;
      }
 }

body {
  //  font-size: 16px;

      @include mobile {
        font-size: 10px;
        color: green;
      }
      @include tablet {
        font-size: 30px;
      }

      @include desktop {
        font-size: 40px;
        color: purple;
      }
 }
