.calender {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;

    .title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      @include tablet {
        display: none;
      }

      @include desktop {
        display: none;
      }
    }

    span {
      background-color: $bg-color3;
      padding: 0.2rem 0.2rem;
      strong{  
      color: purple;
      }
    }

    img {
      width: 100%;
      object-fit: contain;
    }
  }
}